@white: #f5f6fa;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

body {
  background-color: @white; }

.jumbotron {
  height: 300px;
  background-color: #079992;
  color: black;
  .margenes(50px, 15px);
  background-image: url("../images/lorem_header_s.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; }

footer {
  background-color: #079992;
  color: @white;
  .margenes(20px, 0px);
  padding: 10px 10px 0 10px; }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover; }

/*.btn-reserva {
  width: 100%;
  background-color: #33d9b2;
  color: #0a3d62;
   }

 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #079992;
    border-color: #079992; 
  }*/
.footer-adress-icon {
  padding-right: 10px;
  color: @white; }

.footer-enlaces {
  color: @white; }

.tab-content {
  padding-top: 5px; }
