body {
  background-color: #ffffff; }

.jumbotron {
  height: 300px;
  background-color: #079992;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px;
  background-image: url("../images/lorem_header_s.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; }

footer {
  background-color: #079992;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover; }

/*.btn-reserva {
  width: 100%;
  background-color: #33d9b2;
  color: #0a3d62;
  border-radius: 0px;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #079992;
    border-color: #079992; 
  }*/
.footer-adress-icon {
  padding-right: 10px;
  color: #ffffff; }

.footer-enlaces {
  color: #ffffff; }

.tab-content {
  padding-top: 5px; }
